[Unit]
Description=La Semilla BLE Beacon
After=bluetooth.service
Requires=bluetooth.service

[Service]
Environment=DBUS_SYSTEM_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket
Type=simple
ExecStart=/usr/local/bin/heraldo eddystone-uid --ad-type broadcast --namespace {{ beacon_namespace }} --instance {{ beacon_instance }}{% if beacon_name is defined and beacon_name %} --name {{ beacon_name }}{% endif %} --tx-power {{ beacon_tx_power | default(-59) }}
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target